/*
 * MarkdownBody context
 */

.MarkdownBody h2 {
  @include heading-style;
  @include font-size(6);
  font-family: $heading-font;
  font-weight: 200;
  line-height: 1.2;
  margin-top: 0;

  &:target {
    color: $base-a;
  }
}

.MarkdownBody {
  h3,
  h4,
  h5 {
    @include font-size(2);
    color: $base-a;
    font-family: $heading-font;
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
  }
}

.MarkdownBody {

  a,
  a:visited {
    color: $base-b;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  em {
    color: $gray-text;
    font-style: normal;
  }

  iframe {
    border: 0;
    margin: 0;
    width: 100%;
  }
}