.announcements-list {
  & {
    bottom: 0;
    left: 0;
    max-width: 420px;
    padding: 0;
    position: fixed;
    z-index: 10;
  }

  @media (min-width: 481px) {
    padding: 16px;
  }

  @media (min-width: 769px) {
    padding: 32px;
  }
}
