/*
 * h2 section
 */

/* Hide the first h2 heading */
.h2-section {
  &:first-child:not(.-no-hide) > h2 {
    display: none;
  }

  @media (min-width: 481px) {
    & + & {
      margin-top: 48px;
    }
  }

  /* Hide anchors until mouseover */
  & > .anchor {
    opacity: 0;
  }

  &:hover > .anchor {
    opacity: 1;
  }

  & > pre {
    padding: $gut;
    margin: 0 0 16px 0;
    box-shadow: $shadow3;

    @media (max-width: 480px){
      margin: 0 -16px;
      box-shadow: $shadow2;
    }
  
    /* Border radius */
    @media (min-width: 481px) {
      & {
        border-radius: 2px;
      }
    }
  }
}