/*
 * H3 section
 */

:is(.h3-section, .h4-section, .h5-section)>.body {
  background: rgb(255, 255, 255);
  box-shadow: $shadow3;

  >pre {
    margin: 0;
    padding: 16px;
  }

  @media (max-width: 768px) {
    overflow-x: auto;
  }

  /* Collapse/flush */
  @media (max-width: 480px) {
    box-shadow: $shadow2;
    margin: 0 -16px;
  }

  /* Border radius */
  @media (min-width: 481px) {
    & {
      border-radius: 2px;
    }

    &> :first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &> :last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  /* Paragraphs */
  &>p {
    margin: 0;
    padding: 16px;
    background: $gray-bg;
    color: $base-text;

    /* Link */
    &>a,
    &>a:visited {
      color: $base-text;
      text-decoration: none;
      border-bottom: solid 1px $line-color;
    }

    &>a:hover {
      color: $base-b;
    }
  }

  &>ul,
  &>ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* Description paragraphs */
  &>pre,
  &>ul,
  &>iframe,
  &>table {

    &~p,
    &~ul,
    &~ol {
      background: $gray-bg;
      color: $gray-text;
    }

    // /* Links */
    // & a,
    // & a:visited {
    //   // border-bottom: solid 1px $line-color;
    //   color: $base-text;
    //   // text-decoration: none;
    // }

    // & a:hover {
    //   color: $base-b;
    // }
  }

  /* Lists */

  &>ol ol,
  &>ol ul {
    padding-inline-start: 16px;
  }

  &>ul>li {
    padding: 8px;
    padding-left: 32px + 4px;
    position: relative;

    &::before {
      background: $gray-text;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 4px;
      left: 16px;
      position: absolute;
      top: 16px + 2px;
      width: 4px;
    }
  }

  &>ol>li {
    padding: 8px;
    padding-left: 16px;
    position: relative;

    &>p em {
      color: $base-mute;
    }
    &+li {
      border-top: solid 1px $line-color;
    }
    &>p>a {
      @include font-size(1);
      display: block;
      font-weight: bold;
      color: $base-b;
      // &:visited {
      //   color: $base-a;
      // }
      &::before {
        content: '';
        @include ion-md-arrow-forward(24px, $base-a3);
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -12px;
      }
    }
    &::before {
      display: none;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &:hover>p>a::before {
      @include ion-md-arrow-forward(24px, $base-a);
    }
  }

  // &>ol>li::before {
  //   display: none;
  // }

  // &>ol>li>p>a {
  //   @include font-size(1);
  //   display: block;
  //   font-weight: bold;
  //   color: $base-b;
  //   // &:visited {
  //   //   color: $base-a;
  //   // }
  // }

  // &>ol>li>p>a::before {
  //   content: '';
  //   @include ion-md-arrow-forward(24px, $base-a3);
  //   position: absolute;
  //   right: 16px;
  //   top: 50%;
  //   margin-top: -12px;
  // }
  
  // &>ol>li:hover>p>a::before {
  //   @include ion-md-arrow-forward(24px, $base-a);
  // }

  // &>ol>li>p>a::after {
  //   content: '';
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  // }

  // &>ol>li>p em {
  //   color: $base-mute;
  // }

  // &>ul>li+li {
  //   border-top: solid 1px $line-color;
  // }

  &>ul>ol,
  &>ul ul {
    padding-inline-start: 16px;
  }

  // Collapse paragraphs together
  &>p+p {
    border-top: 0;
    margin-top: -1.5em;
  }

  &>ol>li>p {
    margin: 0;
    padding: 0;
  }

  &>ul>li>p {
    margin: 0;
    padding: 0;
  }

  &>p+p:not(:first-child) {
    border-top: 0;
    margin-top: -1.5em;
  }

  /* Headings in between bodies */
  &>h6 {
    //h4
    @include font-size(-1);
    background: $gray-bg;
    color: $gray-text;
    font-weight: normal;
    margin: 0;
    padding: 4px 16px;

    &+* {
      border-top: solid 1px $line-color;
    }
  }

  &>blockquote {
    margin: 0;
    & p {
      margin: 0;
    }
    &  a {
      display: block;
      text-decoration: none;
      color: $base-a;
      border-bottom: 0;
      box-shadow: none;
      padding: 16px;
    }
  
    & a:visited {
      color: $base-a;
    }
  
    & a::before {
      content: '';
      @include ion-md-arrow-forward(16px, white);
      margin-right: 16px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      border-radius: 50%;
    }
  
    & a,
    & a:visited {
      &::before {
        background-color: $base-a;
        color: white;
      }
    }
  
    & a:hover,
    & a:focus {
      & {
        color: $base-a7;
      }
  
      &::before {
        background-color: $base-a7;
      }
    }
  }

  // Line divisions
  &>*:not(:first-child) {
    border-top: solid 1px $line-color;
  }
}

/*
 * Heading
 */
:is(.h3-section, .h4-section, .h5-section)> :is(h3, h4, h5) {
  margin-bottom: 16px;
  margin-top: 8px;
  overflow: hidden;
  white-space: nowrap;

  // Mobile: the padding below h3-section is enough
  @media (max-width: 768px) {
    margin-top: 0;
  }

  // Horizontal line
  &::after {
    background: linear-gradient(to right, rgba($base-a, 0.2), transparent 80%);
    content: "";
    display: inline-block;
    height: 1px;
    margin-left: 24px;
    vertical-align: middle;
    width: 100%;
  }
}

/*
 * Variant: Prime
 */

// .h3-section.-prime > .body {
//   @media (min-width: 481px) {
//     border-radius: 2px;
//     box-shadow: $shadow6;
//   }
// }

/*
 * Variant: Also see :\
 */

// ul.-also-see.-also-see.-also-see {
//   background: $gray-bg;
//   display: flex;
//   flex-wrap: wrap;
//   list-style-type: none;

//   & > li {
//     border-top: solid 1px $dark-line-color;
//     flex: 1 0 20%;
//     padding: 24px;
//     list-style-type: none;

//     & + li {
//       border-left: solid 1px $dark-line-color;
//     }
//   }

//   & > li::before {
//     display: none;
//   }

//   & > li > a {
//     @include font-size(1);
//     display: block;
//   }

//   & > li > em {
//     @include font-size(-1);
//     display: block;
//   }
// }