/*
 * Group
 */

.related-posts-group {
  & > h3 {
    @include font-size(1);
    border-bottom: solid 1px $dark-line-color;
    color: $base-a;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    padding-bottom: 16px;
  }
}
