<nav class='top-nav' data-js-no-preview role='navigation'>
  <div class='container'>
      <div class='left'>
        <a class='home back-button' href='<%= config.root %>'></a>
      </div>

      <div class='actions'>
          <ul class='page-actions'>
            <li class='link github -button hint--bottom' data-hint='<%= theme.githubToolTip %>'>
              <a href='<%= theme.github %>'>
                <span class='text -visible'><%= theme.githubToolTip %></span>
              </a>
            </li>
          </ul>
      </div>
  </div>
</nav>