/*
 * Base
 */

html,
body {
  background: $base-body;
  color: $base-text;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.6;
  overflow-x: hidden;
}

body {
  @include font-size(0);
  margin: 0;
  padding: 0;
}

/*
 * Code
 */

pre,
code {
  font-family: $monospace-font;
  letter-spacing: -0.03em;
}

pre {
  font-size: $code-size;
}

/*
 * Antialias
 */

*:not(pre):not(code) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Links
 */

a {
  color: $base-b;
}

a:visited {
  color: $base-b7;
}

a:hover {
  color: $base-b3;
}

/* prism.js adds area-hidden which it probably shouldn't */
[aria-hidden]:not(.line-highlight) {
  display: none !important;
}

// No tooltips on mobile
@media (max-width: 580px) {
  .hint--bottom {
    &::before,
    &::after {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(175, 175, 175, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.85);
}
